@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .outlined-text {
    color: #03635D; /* Text color */
    -webkit-text-stroke: 1px white; /* Stroke thickness and color */
    -webkit-text-fill-color: #03635D; /* Fills inner text */
  }
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}